In [25]:
import re
from pathlib import Path

In [22]:
files = ["khoi_0001.png", "khoi_0002.png", "khoi_0003.png", "kiet_0000.png", "kiet_0001.png", "kiet_0003.png"]
target = "khoi"
pattern = re.compile(rf"{target}")
for file in files:
    tmp = re.search(pattern, file)
    if tmp:
        print(tmp.group(0))

khoi
khoi
khoi

In [15]:
pattern

re.compile(r'khoi_[0-9]4.png', re.UNICODE)

In [17]:
with open("./demo1/foo.txt", "w") as f:
    pass

FileNotFoundError: [Errno 2] No such file or directory: './demo1/foo.txt'

In [35]:
pattern = r'CTP[0-9]{2}_00[1|2]_0000'

In [38]:
re.search(pattern, 'CTP02_001_0000').group(0)

'CTP02_001_0000'

In [30]:
[Path(file).stem for file in files]

['khoi_0001', 'khoi_0002', 'khoi_0003', 'kiet_0000', 'kiet_0001', 'kiet_0003']

In [42]:
import os

ROOT = '/wecare/home/khoi/thesis'
FOO = os.path.join(ROOT, 'foo')

os.mkdir(FOO)
for i in range(10):
    file = os.path.join(FOO, f"foo_{i:02}.txt")
    os.system(f"touch {file}")
os.listdir(FOO)

['foo_00.txt',
 'foo_07.txt',
 'foo_09.txt',
 'foo_08.txt',
 'foo_06.txt',
 'foo_01.txt',
 'foo_02.txt',
 'foo_05.txt',
 'foo_04.txt',
 'foo_03.txt']

In [1]:
from utils import data_split
import os

ROOT = '/wecare/home/khoi/thesis'
FOO = os.path.join(ROOT, 'foo')
data_split.split_data(FOO, r'foo_[0-9]{2}', ['foo_00','foo_07','foo_09','foo_08','foo_06'])

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 3285.53it/s]

In [2]:
import os
a = ['foo_00.txt', 'foo_07.txt', 'foo_09.txt', 'foo_08.txt', 'foo_06.txt', 'foo_01.txt', 'foo_02.txt', 'foo_05.txt', 'foo_04.txt', 'foo_03.txt']

In [4]:
os.path.isdir('foo_00.txt')

False

In [1]:
import re

a = ["CTP02_001_0000","CTP04_001_0000","CTP07_001_0000","CTP100_001_0000","CTP10_001_0000","CTP102_001_0000","CTP12_001_0000","CTP15_001_0000","CTP15_002_0000","CTP20_001_0000"]
b = list(map(lambda x: re.search(r'CTP[0-9]{2,3}_00[1|2]', x).group(0), a))

In [2]:
b

['CTP02_001',
 'CTP04_001',
 'CTP07_001',
 'CTP100_001',
 'CTP10_001',
 'CTP102_001',
 'CTP12_001',
 'CTP15_001',
 'CTP15_002',
 'CTP20_001']

In [2]:
import pandas as pd
df = pd.read_csv("test_instances_id.csv")
df

    test_instances
0   CTP48_001_0000
1   CTP97_001_0000
2   CTP81_001_0000
3   CTP02_001_0000
4   CTP68_001_0000
5   CTP12_001_0000
6   CTP57_002_0000
7   CTP73_001_0000
8   CTP04_001_0000
9   CTP59_001_0000
10  CTP91_001_0000

In [7]:
list(pd.read_csv("test_instances_id.csv").iloc[:,0])

['CTP48_001_0000',
 'CTP97_001_0000',
 'CTP81_001_0000',
 'CTP02_001_0000',
 'CTP68_001_0000',
 'CTP12_001_0000',
 'CTP57_002_0000',
 'CTP73_001_0000',
 'CTP04_001_0000',
 'CTP59_001_0000',
 'CTP91_001_0000']

In [9]:
a = set([0,1,2,3,4,5,6,7,8,9])
b = set([0,2,4])
a.difference(b)

{1, 3, 5, 6, 7, 8, 9}

In [12]:
def split(a, n):
    k, m = divmod(len(a), n)
    return (a[i*k+min(i, m):(i+1)*k+min(i+1, m)] for i in range(n))

In [32]:
c = list(pd.read_csv("parameters/test_instances_id.csv").iloc[:,0]) + ["CTP91_002_0000"]
d = list(split(c, 4))

In [33]:
d

[['CTP48_001_0000', 'CTP97_001_0000', 'CTP81_001_0000'],
 ['CTP02_001_0000', 'CTP68_001_0000', 'CTP12_001_0000'],
 ['CTP57_002_0000', 'CTP73_001_0000', 'CTP04_001_0000'],
 ['CTP59_001_0000', 'CTP91_001_0000', 'CTP91_002_0000']]

In [34]:
for fold, ids in zip(header, d):
    print(fold, ids)

fold_1 ['CTP48_001_0000', 'CTP97_001_0000', 'CTP81_001_0000']
fold_2 ['CTP02_001_0000', 'CTP68_001_0000', 'CTP12_001_0000']
fold_3 ['CTP57_002_0000', 'CTP73_001_0000', 'CTP04_001_0000']
fold_4 ['CTP59_001_0000', 'CTP91_001_0000', 'CTP91_002_0000']

In [35]:
header = [f"fold_{i+1}" for i in range(4)]
df = pd.DataFrame(columns = header)
df

Empty DataFrame
Columns: [fold_1, fold_2, fold_3, fold_4]
Index: []

In [36]:
for fold, ids in zip(header, d):
    df.loc[:,fold] = ids
df

           fold_1          fold_2          fold_3          fold_4
0  CTP48_001_0000  CTP02_001_0000  CTP57_002_0000  CTP59_001_0000
1  CTP97_001_0000  CTP68_001_0000  CTP73_001_0000  CTP91_001_0000
2  CTP81_001_0000  CTP12_001_0000  CTP04_001_0000  CTP91_002_0000

In [39]:
df.to_csv("foo.csv", index = False)

In [48]:
import re

a = [f"CPT_00{i}" for i in range(10)]
b = [f"CPT_00{i * 2}" for i in range(5)]
c = "|".join(b)
for file in a:
    print(re.search(all_patterns, file))

<re.Match object; span=(0, 7), match='CPT_000'>
None
<re.Match object; span=(0, 7), match='CPT_002'>
None
<re.Match object; span=(0, 7), match='CPT_004'>
None
<re.Match object; span=(0, 7), match='CPT_006'>
None
<re.Match object; span=(0, 7), match='CPT_008'>
None

In [47]:
all_patterns = "|".join(list(map(lambda x: f"({x})", b)))

In [42]:
"|".join(b)

'CPT_000|CPT_002|CPT_004|CPT_006|CPT_008'